{% extends 'base.html.twig' %}

{% block title %}Zmiana hasła{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="col-10 col-lg-6">
        <div class="login">
        <div class="title">
                <h2>Zmiana hasła</h2>
        </div>
            <div class="row mb-3">
                        {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}

<div class="button">
          <button type="submit" class="btn">Wyślij</button>
        </div>

                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
    

    
{% endblock %}
